body {
    background-color: #073642;
}

.flash {
   animation-name: flash;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}

@keyframes flash {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}



.blue { color: #0074D9; }
.bg-blue { background-color: #0074D9; }

.carbon-poweredby { width: 100%; font-size: 12px; float: left; }
.carbon-wrap { float: left; width: 100%; box-sizing: border-box; }
.carbon-img  { float: left; width: 50%;  box-sizing: border-box; }
.carbon-text  { float: left; width: 50%; padding-left: 16px; box-sizing: border-box; font-size: 12px; }

#carbonads a:link { text-decoration: none!important; color: #222!important; }

.image-shadow {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }


.resume {
    text-align: right;
}

@media (max-width: 60em) {
    .resume {
        text-align: left;
        color: black;
    }
}
